name: Pylint

on:
  workflow_dispatch:
  push:
    branches: [ "master", "release_*" ]
    paths:
      - 'lybic/**/*.py'
      - 'test/**/*.py'
      - 'requirements.txt'

  pull_request:
    branches: [ "master", "release_*" ]
    paths:
      - 'lybic/**/*.py'
      - 'test/**/*.py'
      - 'requirements.txt'

jobs:
  Code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10","3.11","3.12","3.13","3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')
