name: Pylint

on:
  workflow_dispatch:
  push:
    branches: [ "master", "develop" ]
    paths:
      - 'lybic/**/*.py'
  pull_request:
    branches: [ "master", "develop" ]
    paths:
      - 'lybic/**/*.py'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12","3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')
